.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
android/key.properties
*.log
*.mode1v3
*.mode2v3
*.nib
*.page
*.pbxuser
*.perspectivev3
*.xcworkspace
!default.xcworkspace
*.xcworkspacedata
*.xcuserstate
.idea/
.vscode/
